{% extends "base.html" %}
<style>
{#    article {#}
{#    width: 900px;#}
{#}#}
{#figure {#}
{#    width: 25%;#}
{#    display: inline-block;#}
{#    text-align: center;#}
{#}#}
    p {
 border: 2px solid red; /* Толщина рамки в пикселах,
                           тип границы (в данном случае сплошная линия) и
                           цвет линии */
 padding: 5px; /* Расстояние от текста до рамки */
}
{#.outline {#}
{#    border: 1px solid red;#}
{#    padding: 10px;#}
{#   }#}
{#    div {#}
{#    width: 100px;	height: 100px; /* Размеры */#}
{#    background: #fc0; /* Цвет фона */#}
{#    outline: 2px solid #000; /* Чёрная рамка */#}
{#    border: 3px solid #fff; /* Белая рамка */#}
{#    border-radius: 10px; /* Радиус скругления */#}
{#   }#}
</style>
{% block title %}Home{% endblock %}

{% block main %}

    {% for item in data %}
        <div style="border: 2px solid #000000; padding: 5px;">
            <strong>{{ item.title }}</strong>
            ({{ item.author }})<br>
            {{ item.lesson }}
{#        <form  action = "{% url 'lesson:vote' question.id %}" method = "post">#}
{#    {% csrf_token %}#}
{#{% for choice in question.choice_set.all %}#}
{#    {{ choice.choice_text }}#}
{#    <button type="submit" name="choice"  value="{{ choice.id }}" >+1👍</button>#}
{##}
{#        <button type="submit" name="minus" value="{{ choice.id }}" >-1👎</button>#}
{# ({{ choice.votes }})<br>#}
{#    {% endfor %}#}
{#</form>#}
            </div>
        <br>
    {% endfor %}
<span class="likebtn-wrapper" data-lang="ru" data-identifier="item_1"></span>
{% endblock %}
